In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
weather= pd.read_csv('2.4.1Missing_Value_Weather_Data.txt', parse_dates=['day'])
weather.head()

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          NaN        9.0  Sunny
2 2017-01-05         28.0        NaN   Snow
3 2017-01-06          NaN        7.0    NaN
4 2017-01-07         32.0        NaN   Rain

In [2]:
weather.shape

(9, 4)

In [3]:
weather.isnull().sum()

day            0
temperature    4
windspeed      4
event          2
dtype: int64

In [6]:
weather.fillna({'temperature': weather.temperature.mean(),
                'windspeed': weather.windspeed.mean(),
                'event':weather.event.value_counts().index[0]}, inplace=True)
weather

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         33.2        9.0   Sunny
2 2017-01-05         28.0        8.4    Snow
3 2017-01-06         33.2        7.0   Sunny
4 2017-01-07         32.0        8.4    Rain
5 2017-01-08         33.2        8.4   Sunny
6 2017-01-09         33.2        8.4   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny